{% extends "layout.html" %}
{% set active_page = "challenge" %}
{% block css %}
<link rel="stylesheet" href={{ url_for('static', filename='css/blockly.css')}}>
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/blockly"></script>
<script src="blockly_compressed.js"></script>
<script src="blocks_compressed.js"></script>
<script defer src={{ url_for( 'static', filename='js/movement.js')}}></script>
<script defer src={{ url_for( 'static', filename='js/challenge.js')}}></script>
{% endblock %}
{% block main %}
<header style="background-color:#F3F1DA">
    <div class="p-3 text-center">
        <h1 class="mb-3">Challenge 2</h1>
    </div>
</header>

<body style="background-color:#F3F1DA">
<main class="container">
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="static/images/challenge2.png" alt="Challenge2 image" data-toggle="tooltip"
                 data-placement="top" title="Complete the challenge using the map">
        </div>
        <div class="col">
            <!--Coding Environment Opening-->
            <div class="blockyLand" id="blocklyDiv" data-toggle="tooltip" data-placement="top"
                 title="Drag and drop blocks of instructions from the left to the workspace on the right">
                <xml id="toolbox" style="display: none">
                    <block type="controls_repeat_ext"></block>
                    <block type="math_number"></block>
                    <block type="turn_right"></block>
                    <block type="turn_left"></block>
                    <block type="move_forward"></block>
                </xml>
            </div>
            <button class="button btn-success" onclick="clearworkspace()">
                <a data-toggle="tooltip" data-placement="bottom" title="Click to clear the workspace">Reset</a>
            </button>
            <button class="button btn-danger" onclick="runCode()">
                <a data-toggle="tooltip" data-placement="bottom" title="Click to execute the blocks of instructions">Run</a>
            </button>
            <button class="button btn-warning" data-toggle="modal" data-target="#myModal">
                <a data-toggle="tooltip" data-placement="bottom" title="Click for hints">Hint</a>
            </button>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Hint for Challenge #2</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p><b>There are 5 blocks required to complete the challenge</b></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

{% endblock %}
{% block footerscript %}
<script defer src={{ url_for( 'static', filename='js/workspace.js')}}></script>
{% endblock %}