{% extends "layout.html" %}
{% set active_page = "dashboard" %}
{% block css %}
<link rel="stylesheet" href={{ url_for('static', filename='css/blockly.css')}}>
<link rel="stylesheet" href={{ url_for('static', filename='css/dashboard.css')}}>
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/blockly"></script>
<script src="blockly_compressed.js"></script>
<script src="blocks_compressed.js"></script>
<script defer src={{ url_for( 'static', filename='js/movement.js')}}></script>
<script defer src={{ url_for( 'static', filename='js/challenge.js')}}></script>
{% endblock %}
{% block main %}
<header style="background-color:#F3F1DA">
    <div class="p-3 text-center">
        <h1 class="mb-1">Dashboard</h1>
    </div>
</header>

<body style="background-color:#F3F1DA;">
<div class="wrapper topWrap">
    <div class="carStatus" style="font-family: Consolas;">
        <div class="sensorStats">
            <div style="font-weight:bold;">Real Time Data:</div>
            <div class="sensorNested">
                <div>Speed: 0m/s</div>
                <div>Distance: 0m</div>
                <div>State: Stopped</div>
            </div>
        </div>
    </div>
    <!--Coding Environment Opening-->
    <div class="blockyLand topWrap" id="blocklyDiv" data-toggle="tooltip" data-placement="top"
         title="Drag and drop blocks of instructions from the left to the workspace on the right">
        <xml id="toolbox" style="display: none">
            <block type="controls_repeat_ext"></block>
            <block type="math_number"></block>
            <block type="turn_right"></block>
            <block type="turn_left"></block>
            <block type="move_forward"></block>
        </xml>
    </div>
    <div class="ResetRun">
        <button type="button" class="btn btn-primary btn-sm btn-danger" onclick="clearworkspace()">
            <a data-toggle="tooltip" data-placement="bottom" title="Click to clear the workspace">Reset</a>
        </button>
        <button type="button" class="btn btn-primary btn-sm btn-success" onclick="runCode()">
            <a data-toggle="tooltip" data-placement="bottom" title="Click to execute the blocks of instructions">Run</a>
        </button>
    </div>
    <!--Coding Environment Closing-->
    
    <div class="pastHistory" style="font-family: Consolas;">
        <div class="pastNested">
            <div style="font-weight:bold;">Past Instruction:</div>
            <!--<button type="button" onclick="xmlToWorkspace()" class="btn btn-primary btn-sm" style="background-color: #008CBA;">Run</button>-->
            <div class="historyListing">
                <p id="firstRow"></p>
                <p id="secondRow"></p>
                <p id="thirdRow"></p>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}
{% block footerscript %}
<script defer src={{ url_for( 'static', filename='js/workspace.js')}}></script>
<script>window.onload = function(){ viewPast(); };</script>
{% endblock %}