{% extends "layout.html" %}
{% block scripts %}
<script src="https://unpkg.com/blockly"></script>
<script defer src={{ url_for( 'static', filename='js/main.js')}}></script>
<script defer src={{ url_for( 'static', filename='js/movement.js')}}></script>
{% endblock %}
{% block main %}
<div id="content" style="display:flex;">
  <div>
    <div id="code" style="width: 320px; padding: 1px;"><pre/></div>
    <button onclick="runCode();">Run</button>
  </div>
  <div id="blocklyDiv" style="height: 480px; width: 800px;"></div>
</div>

<xml id="toolbox" style="display: none">
  <block type="controls_if"></block>
  <block type="controls_repeat_ext"></block>
  <block type="logic_compare"></block>
  <block type="math_number"></block>
  <block type="math_arithmetic"></block>
  <block type="text"></block>
  <block type="text_print"></block>
<!--  <block type="string_length"></block>-->
</xml>

<xml id="startBlocks" style="display: none">
  <block type="text_print" id="0@)u5QVs/@*zX^XXw%Lp" x="35" y="21">
    <value name="TEXT">
      <shadow type="text" id="=[)BkyD!BK*AF%PcBi9;">
        <field name="TEXT">Hello, World</field>
      </shadow>
    </value>
  </block>
</xml>
{% endblock %}