{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href={{ url_for('static', filename='css/connect.css')}}>
{% endblock %}
{% block main %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form method="POST" action="dashboard.html" enctype="multipart/form-data" class="box">
                    <h1>Connect To Car</h1>
                    <p class="text-muted"> Please enter the IP address shown on your Robotic Car!!</p>
                    <input type="text" name="ip" id="ip" placeholder="IP-Address"
                    pattern = "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$";>
                    <input type="submit" name="" value="Connect">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
